---
import { cocktails } from '../../cocktailStore';
import Layout from '../../layouts/Layout.astro';


export function getStaticPaths() {
  return cocktails.map(cocktail => {
    return {
        params: {
            cocktail: cocktail.name.toLocaleLowerCase().replace(/ /g, '-')
        }
    }
  })
}

const { cocktail } = Astro.params;
---
<Layout title={cocktail || 'Cocktails'}>
    <div>This is {cocktail}!</div>
</Layout>