---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<section class="px-4">
		<p>Welcome to Mixologist, a simple web app that aims to help you discover the perfect mix of cocktails by exploring ingredients and recipes.</p>
		<a class="block mt-6" href="https://github.com/cswbrian/mixologist" target="_blank">GitHub Repo</a>
	</section>
</Layout>