---
import Inventory from '@components/Inventory';
import Layout from '../layouts/Layout.astro';
import { ingredients } from '../const/ingredients';

const groupByType = (ingredients) => {
  const types = {};
  
  for (const ingredient of ingredients) {
    let type = ingredient.type;

	if (!type) {
		type = 'Others'
	}
    
    if (!types[type]) {
      types[type] = [];
    }
    
    types[type].push(ingredient);
  }
  
  return Object.entries(types).map(([type, ingredients]) => ({ 
	name: type, 
	ingredients
  }));
}

const groupedIngredients = groupByType(ingredients);
---

<Layout title="Inventory">
	<div class="flex flex-col mx-auto px-4 mb-16">
		<Inventory client:load groupedIngredients={groupedIngredients} />
	</div>
</Layout>