---
---
<nav class="fixed bottom-0 w-full flex border-t-2 border-dynamic bg-dynamic">
    <a class="p-4 flex-grow text-center border-r-2 border-dynamic" href="/mixologist/">Cocktails</a>
    <a class="p-4 flex-grow text-center" href="/mixologist/inventory/">Inventory</a>
</nav>
<style>
</style>