---
---
<nav class="fixed bottom-0 w-full flex bg-white border-t-2 border-black">
    <a class="p-4 flex-grow text-center border-r-2 border-black" href="/mixologist/">Cocktails</a>
    <a class="p-4 flex-grow text-center" href="/mixologist/inventory/">Inventory</a>
</nav>
<style>
</style>