---
---
<nav class="fixed bottom-0 w-full flex bg-white">
    <a class="p-4 flex-grow text-center" href="/mixologist/">Cocktails</a>
    <a class="p-4 flex-grow text-center" href="/mixologist/inventory/">Inventory</a>
</nav>
<style>
</style>