---
---
<nav class="fixed bottom-0 w-full flex">
    <a class="p-4 flex-grow text-center" href="/mixologist/">Home</a>
    <a class="p-4 flex-grow text-center" href="/mixologist/inventory/">inventory</a>
</nav>
<style>
</style>